/*========================================定义顶部样式========================================*/
.top{
    background-color: #84bdf6;
    }
/*定义顶部框架*/
.top_frame {
    height: 80px;
    position:relative;
}

/*使用关联选择器为使用了top_frame下面的div应用样式*/
.top_frame .top_info {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 300px;
    height: 60px;
    margin-left: 50px;
    float:left;
}
/*使用关联选择器为使用了top_frame下面的<h1>标签设置样式*/
.top_frame .top_info h2 {
    position: absolute;
    bottom: 1px;
    color: #fcfcfd;
}


/*========================================定义下部分样式========================================*/
/*==============定义左侧样式===========*/
.page_body{
    background-color: #f0f2f4;
}
/*定义左侧样式*/
.page_body .page_left{
    position:absolute;
    top: 80px;
    left: 0px;
    bottom: 0px;
    width:300px;
    overflow: auto;
    background-color: #f3f5f7;
}


/*定义左侧主菜单栏样式*/
.page_left .left_menu{
    background-image: url(../images/menu_background_color.png);
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;;
}

/*定义选择点击下啦菜单的小图片样式*/
.left_menu_arrowhead{
    margin-right: 10px;
    float: right;
    height: 15px;
    width: 15px;

}

/*定义左侧子菜单栏样式*/
/*增加子div的样式*/
.left_menu_content{
    margin-top: 3px;
    background-color: #ffffff;
    margin-left: 10px;

}

.left_menu_child_img{
    margin-left: 10px;
    height: 15px;
    width: 15px;
}

/*使用关联定义left_menu_content下的div的样式*/
.left_menu_content div{
    margin-top: 10px;
}

.hide{
    display: none;
}

.left_menu_content_border{
    border-left:3px solid blue;
}

/*==============定义右侧样式===========*/
/*定义右侧框架*/
.page_body .page_right{
    position: absolute;
    top:80px;
    bottom:0px;
    left:302px;
    right:0px;
    overflow: auto;
}

/*是搜索框默认样式*/

/*搜索实例总框体展示样式*/
.content_master{
    position:absolute;
    top: 200px;
    left: 250px;
    /*background-color: red;*/
}

.black{
    color:red;
}
/*需要添加搜索框默认字体样色*/
.font_color{
    color: #dde3e9;
}




/*定义弹出框样式*/
.modal{
    position: fixed;
    left:50%;
    top:50%;
    width: 400px;
    height: 300px;
    background-color: #dddddd;
    margin-left: -200px;
    margin-top: -150px;
}


/*定义作业样式*/
.cselect{
}
/*给点击进入编辑模式按钮设置样式*/
.select_color{
    background-color: sandybrown;
}
.cmdbchose{

}

.change_modecolor{
    background-color:#D3FF93;
}