<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <form action="/app01/user_list/" method="post">
        <p>主机:{{ obj.host }} <span>{{ error.host }}</span></p>
        <p>端口:{{ obj.port }} <span>{{ error.port }}</span></p>
        <p>邮箱:{{ obj.email }} <span>{{ error.email }}</span></p>
        <p>手机:{{ obj.mobile }} <span>{{ error.mobile }}</span></p>
        <input type="submit" value="submit"/>
    </form>


    <input type="button" onclick="Ajax_submit()" value="ajax提交"/>
    <table>
        <thead>
            <tr>IP地址</tr>
            <tr>端口号</tr>
        </thead>
        <tbody>
            <tr>
                <td>1.1.1.1</td>
                <td>8888</td>
            </tr>
            <tr>
                <td>1.1.1.2</td>
                <td>9999</td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript" src="/static/jquery-2.2.1.min.js"></script>
    <script>
        function Ajax_submit(){
            var host = '1.1.1.1';
            var port = '8888';
            $.ajax({
                url:'/app01/ajax_data/',
                type:'POST',
                data:{h:host,p:port},
                success:function(arg){

                }

            }

            )
        }
    </script>



</body>
</html>