/*========================================定义顶部样式========================================*/
.top_style{
    background-color:#2459a2;
    height: 44px;
    position: relative;

}

/*设置菜单栏a标签颜色*/
.nav-pills a{
    color:Orange
}

/*定义log样式*/
.log_style{
    position: absolute ;
    left: 50%;
    margin-left: -500px;
    width: 1000px;

}

/*定义下部分内容主体样式*/
.Content_body{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color:white;
    position: relative;
}

/*定义下部分内容右侧主体样式*/

.Content_left{
    position: absolute;
    width: 700px;
    background-color:white;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px
}
.Content_right{
    position: absolute;
    left: 700px;
    width: 300px;
    right: 0px;
    background-color:white;
    overflow: auto;
    padding-right: 10px
}

/*定义右侧框体圆润度*/
.frame_style{
    border-radius:15%
}
/*定义左侧内容样式*/
.Content_left_c {
    margin-top: 10px;
    padding-bottom: 5px;
    /*height: 112px;*/
    /*border-bottom: 1px solid Gainsboro;*/
}


.Content_left_c div .Content_left_ca {
    font-size: 18px;
}
.Content_left_c div .Content_left_sw{
    color:#a4adb6;
}

.Content_left_c div .Content_left_nr{
    margin-top: 10px;
    height: 20px;
}

/*左侧内容，各节内容底部图标样式*/

/*点击a标签样式*/
.change_style1{
    cursor: pointer;float: left
}
.change_style2{
    cursor: pointer;float: left
}
.change_style2{
    cursor: pointer;float: left
}
/*点赞默认样式*/

.zan_default{
    background-image: url('../images/check.png');
    width: 20px;
    height: 22px;
    margin-right: 5px;
    float: left;
    background-repeat: no-repeat;
    background-position: 0px -38px;
}

/*信息默认样式*/
.xinxi_default{
    background-image: url('../images/check.png');
    width: 20px;
    height: 22px;
    margin-left: 10px;;
    margin-right: 5px;
    float: left;
    background-repeat: no-repeat;
    background-position: 0px -58px;
}

/*收藏默认样式*/
.shoucang_default{
    background-image: url('../images/check.png');
    width: 20px;
    height: 22px;
    margin-left: 10px;;
    margin-right: 5px;
    float: left;
    background-repeat: no-repeat;
    background-position: 0px -158px;
}


.hide{
    display: none;
}




/*定义返回顶部样式*/

p#back-to-top{
    position:fixed;
    display:none;
    bottom:100px;
    right:80px;
}
p#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#d1d1d1;
    display:block;
    width:64px;
    /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}
p#back-to-top a:hover{
    color:#979797;
}
p#back-to-top a span{
    /*background:transparent url('../images/top.jpg') no-repeat ;*/
    background-image: url("../images/top.jpg");background-repeat: no-repeat;background-size:100%;
    border-radius:6px;
    display:block;
    height:64px;
    width:56px;
    margin-bottom:5px;
    /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
}
#back-to-top a:hover span{
    background:transparent url('../images/top_now.jpg');background-repeat: no-repeat;background-size:100%
}



/*气泡实现*/


.bubble_arrow{
    display: inline-block; /* 内联标签但是有块级标签的特性*/
    border-top:10px solid;
    border-right:10px solid;
    border-bottom: 10px solid;
    border-left:10px solid;


    /*把其他的颜色设置为透明色*/
    border-top-color:transparent;
    border-right-color:#58a8f9;
    border-left-color:transparent;
    border-bottom-color:transparent;
    float: left;
    margin-top: 7px;
}
.bubble_content{
    background-color: #58a8f9;
    width: 120px;
    height: 35px;
    float: left;
    border-radius:10px;
}
/*使用after在后面新增了一个内容为teacher的*/
.clearfix:after{
    /*我们给他一个内容,但是我们给他隐藏看不到,把div撑起来看下*/
    content: "."; /*定义一个内容*/
    visibility: hidden; /*内容不可见*/
    display: block; /*默认他是一个内联标签,我们给他改为块级标签*/
    clear:both; /*加上clear:both*/
    height: 0;/*我们给他定义高度为0*/

}


/*文章内容样式*/


/*文章盒子总体样式*/
.article-box{
    border-bottom: 1px solid Gainsboro;
    padding-bottom: 10px;
}

.article-leftimag{
    float: left;
}
.article-leftimag img{
    height: 125px;
    width: 220px;
}
.article-summary{
    float: left;
    width: 400px;
    margin-left: 5px;;
}





/*评论样式*/
.comment-box{
    border: 1px solid #58a8f9 ;
}

.comment-node{
    border-bottom: 1px solid silver;
}