{% extends 'master/master_templates.html' %}

{% block content %}
    <div>
        用户信息如下:
        <div>
            <table border="1px">
                <thead>
                    <tr>
                        <th>邮箱</th>
                        <th>密码</th>
                    </tr>
                </thead>
                <tbody>

                    {% for line in user_info_list %}
                        <tr>
                            <td>{{ line.email }}</td>
                            <td>{{ line.pwd }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}