
.login-container{
    width: 900px;
    margin: 0 auto;
    margin-top: 80px;
    border: 1px solid #ddd;
}
.account-body{
    height: 337px;
}
.account-body .logo{
    width: 50%;
}
.account-body .form{
    width: 50%;
}
.input-group{
    margin: 20px;
    position: relative;
}
.input-group .input-group-addon{
    border-radius: 0px !important;
    width: 35px !important;
    padding: 0px !important;
}
.input-group .form-control{
    border-radius: 0px !important;
    width: 250px;
}
.input-group .form-control.check-code{
    border-radius: 0px !important;
    width: 125px;
}
.input-group .check{
     padding: 6px 12px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #555;
      text-align: center;
}
.input-group .btn{
    border-radius: 0px !important;
    padding:5px 20px;
    margin-right: 15px;
}
.sv-error-msg {
    bottom: -15px;
    position: absolute;
    font-size: 8px;
    color: #a94442;
    background: #f2dede;
    border: 1px solid #ebccd1;
    height: 15px;
    line-height: 15px;
    width: 250px;
}
.alert-danger {
    border-radius: 0px !important;
    margin: 0 20px;
    padding: 10px !important;
}