
[class^="iicon-"], [class*=" iicon-"] {
  font-family: 'aliyun-console-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iicon-expense:before {
  content: "\e697";
}
.iicon-undo:before {
  content: "\e691";
}