.body{
    margin:0 auto;
    height: 100%;

}

.clearfix:after{
    /*我们给他一个内容,但是我们给他隐藏看不到,把div撑起来看下*/
    content: "."; /*定义一个内容*/
    visibility: hidden; /*内容不可见*/
    display: block; /*默认他是一个内联标签,我们给他改为块级标签*/
    clear:both; /*加上clear:both*/
    height: 0;/*我们给他定义高度为0*/

}

/*定义顶部*/
.top{
    background-color:#78b7f7;
    height: 48px;
}


/*左侧菜单加一个,hover*/
.menu{
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid #78b7f7;
    background-color: white;
    float: left;width: 20%;
    height: 905px
}

.menu div:hover{
    background-color:#78b7f7;
    cursor: pointer;
}
.menu div a {
    text-decoration:none;
}