.body{
	background :url(/static/images/login_body_background.jpg) 100% 0 no-repeat;
	position: relative;
}

.login{
	background-color: white;
	width: 400px;position: absolute;
	top: 200px;
	left: 40%;
}

.login_register{
	margin-top: 20px;
	border-bottom: 1px solid #d0d6dd;
}

.login_register a {
	font-size: 18px;;
	padding: 20px;
	cursor: pointer;
	text-decoration:none;
	color:#d0d6dd;
	margin-left: 100px;;
}
.login_register a:hover{
	color:#4791dc
}

.hide{
	display: none;
}