
.center{
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}

.font14{
    font-size: 14px !important;
}

.block{
    display: block !important;
}



.text-left{
    text-align: left !important;
}


.pst-left-50{
    left: 50px !important;
}
.pst-left-35{
    left: 35px !important;
}


.no-margin{
    margin: 0px !important;
}
.no-padding{
    margin: 0px !important;
}

.mb0{
    margin-bottom: 0px !important;
}

.padding-5{
    padding: 5px !important;
}
.padding-4{
    padding: 4px !important;
}
.padding-3{
    padding: 3px !important;
}
.padding-tb-3{
    padding: 3px 0px !important;
}
.padding-tb-2{
    padding: 2px 0px !important;
}
.padding-tb-1{
    padding: 1px 0px !important;
}

.padding-l-8{
      padding-left: 8px !important;
}


.mt-10{
    margin-top: 10px !important;
}
.mt-20{
    margin-top: 20px !important;
}

.mrl-8{
    margin: 0 8px;
}

.dotted{
	border-top: 1px dotted #ddd;
}


.shade{
	position:fixed;z-index:1040;top:0;left:0;right:0;bottom:0;background-color:#999;filter:alpha(opacity=50); -moz-opacity:0.5;opacity:0.5;
}

.loading{
	position:fixed;z-index:1050;top:40%;left:50%;height:32px;width:32px;margin:0 0 0 -16px;background:url(/static/images/loading.gif);
}
.modal-delete{
    position: fixed;
    top:20%;
    left: 50%;
    margin-left: -270px;
    width: 540px;
    height: 146px;
    z-index: 1050;
}


.no-border-r{
    border-right: 0px !important;
}

.add-success{
    background-color:#68af02;
	color:white;
    padding:8px;
}
.add-error{
    background-color:#E64346;
	color:white;
    padding:8px;

}

.select-icon{
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url("/static/images/sort_both.png");
}

.dot-running{
    /*
	width:25px;
	height:26px;
    display: inline-block;
	background: url(/static/images/ecs-icons.png) no-repeat -56px 1px;
	*/
    width:14px;
	height:14px;
    display: inline-block;
    background-color: #5cb85c !important;
    border-radius: 7px;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -o-border-radius: 7px !important;

}
.dot-stoping{
    /*
	width:25px;
	height:26px;
    display: inline-block;
	background: url(/static/images/ecs-icons.png) no-repeat -56px -47px;
	*/
    width:14px;
	height:14px;
    display: inline-block;
    background-color: #d9534f !important;
    border-radius: 7px;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -o-border-radius: 7px !important;

}

.small-loading{
	width:16px;
	height:16px;
	display: inline-block;
	background: url(/static/images/loading_16.gif) no-repeat;
}

.pre-loading{
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  /* justify-content: center; */
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;

}
.sk-spinner-rotating-plane.sk-spinner {
  width: 30px;
  height: 30px;
  background-color: #28a7e9;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

