.error_backend1{
    position:absolute;
    margin-left: 20px;
    top: 85px;
    font-size: 8px;
    background-color: #eed2d9;
    color:red;
    border: 1px solid #ffbdbe;

}
.error_backend2{
    position:absolute;
    margin-left: 20px;
    top: 140px;
    font-size: 8px;
    background-color: #eed2d9;
    color:red;
    border: 1px solid #ffbdbe;
}

.error_backend3{
    position:absolute;
    margin-left: 20px;
    top: 240px;
    font-size: 8px;
    background-color: #eed2d9;
    color:red;
    border: 1px solid #ffbdbe;
}