.home {
    box-sizing: border-box
}

.home .box{
    text-align: center;
}

.home .box ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.home .box ul li {
    /*max-width: 2rem;*/
    width: 33.3%;
    /*padding: .5rem;*/
    /*display: inline;*/
    margin: .5rem;
    box-sizing: border-box;
    list-style-type: none;
}

.home .box ul li img{
    width: 100%;
    height: 7em;
    /*margin: 1em;*/
}

.home .box ul li p {
    padding: .2rem .5rem;
}
