<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrazyMy</title>
    <link rel="stylesheet" href="/static/css/common.css">
    {#    然后在模板里,我们也会写一个block,如果子版里有需要使用自己的css样式可以自己定义#}
    {% block css %} {% endblock %}
        <!--指定告诉ID用高版本的解析-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap -->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.4-dist/css/bootstrap.min.css">
</head>
<body class="body clearfix">
{#    定义顶部DIV#}
    <div class="top">



    </div>

{#    定义左侧菜单栏    #}
    <div class="menu">
        <div style="height: 30px;margin-top: 20px;margin-left: 20px;"><a href="/index/">用户中心</a></div>
        <div style="height: 30px;margin-top: 20px;margin-left: 20px;"><a href="/deluser/">删除用户</a></div>
        <div style="height: 30px;margin-top: 20px;margin-left: 20px;"><a href="/change/">重置密码</a></div>
        <div style="height: 30px;margin-top: 20px;margin-left: 20px;"><a href="/adduser/">创建用户</a></div>
        <div style="height: 30px;margin-top: 20px;margin-left: 20px;"><a href="/moreuser/">批量创建</a></div>
    </div>


{#    定义右侧可变内容#}
    <div style="margin-top: 30px; margin-left: 30px;;;float:left;width:70%;border: 1px solid #78b7f7;height: 905px">
        {% block content %} {% endblock %}
    </div>

      <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/js/jquery-2.2.1.min.js"></script>
      <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/plugins/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script>
        $('#add_email').blur(function() {
           console.log('test');
           $.ajax({
              type:'POST',
              url:'/adduser/',
              data:{'em':$('#add_email').val(),'check_status':'on'},
              success: function (data) {
                 if(data == 'yes'){
                     $('#user_yes').removeClass('hide');
                     $('#user_no').addClass('hide')
                 }else{
                     $('#user_no').removeClass('hide');
                     $('#user_yes').addClass('hide')
                 }
              }
           })

        });
    </script>

    {#    公共的js写到母版中,如果某一个模板里使用自己的js,在写一个block即可#}
    {% block js %} {% endblock %}
</body>
</html>