<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <input type="button" onclick="Ajax_submit()" value="ajax提交"/>
    <table>
        <thead>
            <tr>IP地址</tr>
            <tr>端口号</tr>
        </thead>
        <tbody>
            <tr>
                <td>1.1.1.1</td>
                <td>8888</td>
            </tr>
            <tr>
                <td>1.1.1.2</td>
                <td>9999</td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript" src="/static/jquery-2.2.1.min.js"></script>
    <script>
        function Ajax_submit(){
            var host = '1.1.1.1';
            var port = '8888';
            $.ajax({
                url:'/ajax_data',
                type:'POST',
                data:{h:host,p:port},
                success:function(arg){

                }

            }

            )
        }
    </script>
</body>
</html>