{% extends 'index.html' %}



{% block  full_windows%}
    {% csrf_token %}
    <div style="background-image: url(/static/images/webqq-background.jpg);height: 1000px" class="row">
        <div class="col-md-3 qq_chat_mem" style="margin-left: 15%;margin-top: 5%;">
            <div class="user_info row" >
                <div class="user_img" style="float: left;">
                    <div >
                        <img style="width: 40px;height: 40px;" src="/static/images/路飞头像.jpeg">
                    </div>
                </div>
                <div class="user_name " style="float: left;margin-left: 10px">
                    user_name
                </div>
            </div>
            <div style="height: 45px;width: 100%;border-radius: 6px 6px 0 0;background-color: #101010">联系人</div>
            <div style="height: 500px;width: 100%" class="user_list">

                {# 左侧用户列表显示 #}
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" chat-type="contact_list" contact-type="single_contact"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">联系人</a></li>
                        <li role="presentation" chat-type="group_list" contact-type="group_contact"><a onclick="LoadContacts()" href="#home" aria-controls="profile" role="tab" data-toggle="tab">群聊组</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            {# 联系人列表,联系人显示框体 #}
                            <div style="height: 450px;width: 100%;background-color:whitesmoke">
                                <div style="height: 20px;width: 100%;border-top: 1px solid red;">
                                    <div id='user_list' class="list-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                {# 左侧用户列表底部填充 #}
                <div style="height: 10%;width: 100%;background-color:#101010;border-radius: 0 0 6px 6px ;">

                </div>
            </div>
        </div>

        {# 右侧聊天框体 #}
        <div class="col-md-6 qq_chat_content" style="margin-left:2%;margin-top: 5%;">
            <div id='chat_hander' class="chat_to">

            </div>
            {# 聊天内容框体 #}
            <div class="chat_contener">
            </div>

            {# 发送聊天信息窗体 #}
            <div class="send_contener" style="width: 100%;height: 50px;background-color: black;">

                <img class="send_image" src="/static/images/qq_smile.png">
                <div>
                    <textarea class="send_textarea_content"></textarea>
                </div>
                <div style="float: left ;margin-top: 7px;">
                    <input class="send_button" type="button" value="发送"  />
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottom-js %}
    <script>
        //csrf ref
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //csrf认证结束




        //页面加载完成后
        $(document).ready(function () {
            GLOBAL_SESSION_CACHE = {
                'single_contact':{},
                'group_contact':{},
            };



            //加载完后执行获取用户信息列表
            LoadContacts();

            //循环接收消息
            GetNewMsgs();




            //delegate 事件链,把多个事件进行绑定
            //给body下的textarea进行绑定,当回车键按下后执行的函数
            $("body").delegate("textarea", "keydown",function(e){
                        if(e.which == 13) {//如果13这个按键(回车,可以通过console.log输出实际按下的那个键),执行下面的函数
                            //send msg button clicked
                            var msg_text = $("textarea").val();
                            if ($.trim(msg_text).length > 0){ //如果去除空格后,大于0
                                //console.log(msg_text);
                                SendMsg(msg_text); //把数据进行发送
                            }
                            //把数据发送到聊天框里
                            AddSentMsgIntoBox(msg_text);
                            $("textarea").val('');
                        }
            });//end body
        });//页面也在完成,结束


        //定义发送到聊天框函数
        function AddSentMsgIntoBox(msg_text){
            //拼接聊天内容
            /*气泡实现
            <div class="clearfix">
                <div class="arrow"></div>
                <div class="content_send"><div style="margin-top: 10px;margin-left: 5px;">Hello Shuaige</div></div>
            </div>
             */

            var msg_ele = "<div>" +
                                "<div style='margin-left:15px;color:whitesmoke'>"  +
                                "{{ request.user.userprofile.name }} &nbsp;&nbsp;"+
                                "</div>" +
                                "<div class='clearfix' style='padding-top:10px'>" +
                                "<div class='arrow'>" + "</div>" +
                                "<div class='content_send'>" +
                                "<div style='margin-top: 10px;margin-left: 5px;'>" +
                                msg_text + "</div>" + "</div>" + "</div>";


            $(".chat_contener").append(msg_ele);
            //animate 动画效果
            $('.chat_contener').animate({
                scrollTop: $('.chat_contener')[0].scrollHeight}, 500
            );//动画效果结束
        }//发送到聊天框函数结束

        //定义接收消息到聊天框函数
        function AddRecvMsgToChatBox(msg_item){
                        //拼接聊天内容
            /*接收气泡实现
                <div class="clearfix">
                    <div class="content"><div style="margin-top: 10px;margin-left: 5px;">Hello Shuaige</div>
                    </div>
                    <div class="back_arrow"></div>
                </div>
             */
            var msg_ele =  "<div style='float: right;width: 100%'>"+

                                "<div style='color:whitesmoke;float: right;'>"+ msg_item.from_name + msg_item.timestamp+"</div>" +
                                "<div style='visibility: hidden;'>" + "帅哥"+ "</div>"+

                                "<div class='clearfix'>"+
                                    "<div class='back_arrow'>" + "</div>" +
                                    "<div class='content_back'>" +
                                        "<div style='margin-top: 10px;margin-left: 5px;'>" + msg_item.msg + "</div>" +
                                    "</div>"+

                            "</div>"
                    ;


            $(".chat_contener").append(msg_ele);
            //animate 动画效果
            $('.chat_contener').animate({
                scrollTop: $('.chat_contener')[0].scrollHeight}, 500
            );//动画效果结束
        }

        //存储未打开的的消息
        function GenerateNewMsgItem(msg_item) {
            //拼接聊天内容
            /*接收气泡实现
                    <div class="clearfix">
                        <div class="content"><div style="margin-top: 10px;margin-left: 5px;">Hello Shuaige</div>
                        </div>
                        <div class="back_arrow"></div>
                    </div>
            */
            var msg_ele = " <div style='float: right;width: 100%'>"+

                                "<div style='color:whitesmoke;float: right;'>" + msg_item.from_name + msg_item.timestamp+"</div>" +
                                "<div style='visibility: hidden;'>" + "帅哥"+ "</div>"+

                                "<div class='clearfix'>"+
                                    "<div class='back_arrow'>" + "</div>" +
                                    "<div class='content_back'>" +
                                        "<div style='margin-top: 10px;margin-left: 5px;'>" + msg_item.msg + "</div>" +
                                    "</div>"+

                            "</div>"
                    ;
            return msg_ele
        }//存储未打开的消息结束

        //获取用户列表
        function LoadContacts(){
            $.get("{% url 'load_contact_list' %}" ,function(callback){
                console.log(callback);
                //循环生成用户列表/组列表
                var data = JSON.parse(callback);

                //获取当前的chat类型
                var current_tab = $('.nav-tabs li').filter('.active')[0];
                var chat_type = $(current_tab).attr('chat-type');
                var contact_type = $(current_tab).attr('contact-type');
                $("#user_list").empty();
                $.each(data[chat_type], function (index,ele) {
                    //把ID作为属性埋藏在标签中为右侧聊天框使用
                    console.log(ele);
                    if(ele.status == 1){
                        var ele = "<a href='#' onclick='OpenDialogBox(this)' contact_id='" +
                                ele.id + "' class='list-group-item'   contact_type='"+ contact_type +"' chat_to=" +
                                ele.name + ">" + "<img style='height: 20px;width: 20px' src='/static/images/online.jpg'>"+
                                ele.name + "<span class='badge hide'> 0 </span>" +
                                "</a>";
                    }else{
                        var ele = "<a href='#' onclick='OpenDialogBox(this)' contact_id='" +
                                ele.id + "' class='list-group-item'   contact_type='"+ contact_type+"' chat_to=" +
                                ele.name + ">" + "<img style='height: 20px;width: 20px' src='/static/images/offline.jpg'>"+
                                ele.name + "<span class='badge hide'> 0 </span>" +
                                "</a>";
                    }
                    $("#user_list").append(ele)
                });//循环结束

            })}//获取用户列表结束

        //点击用户打开连天窗口
        function OpenDialogBox(ele){
            //获取与谁聊天
            var contact_id = $(ele).attr("contact_id");
            var contact_name = $(ele).attr("chat_to");
            var contact_type = $(ele).attr("contact_type");
            //先把当前聊天的内容存储起来
            DumpSession();
            //当前聊天内容存储结束

            //修改聊天框与谁聊天
            var chat_to_info = "<h2 style='color:whitesmoke;text-align:center;' contact_type='"+ contact_type +"' contact_id='"+ contact_id+ "'>" + contact_name + "</h2>";
            $('#chat_hander').html(chat_to_info);
            $('.chat_contener').html(LoadSession(contact_id,contact_type));

            //清除未读消息显示
            var unread_msg_num_ele = $(ele).find('span')[0];
            $(unread_msg_num_ele).text(0);
            $(unread_msg_num_ele).addClass('hide')
        }//打开聊天窗口结束



        //发送消息
        function SendMsg(msg_text){
            var contact_id = $('#chat_hander h2').attr("contact_id");  //获取发送给谁消息
            var contact_type = $('#chat_hander h2').attr("contact_type");//获取聊天类型
            var msg_dic = {
                'contact_type':contact_type,
                'to':contact_id,
                'from':"{{ request.user.userprofile.id }}",
                'from_name':"{{ request.user.userprofile.name }}",
                'msg':msg_text
            };
            //向后端发送数据
            $.post("{% url 'send_msg' %}" ,{'data':JSON.stringify(msg_dic)},function(callback){
                console.log(callback);
            });//向发送数据结束

            //解释:
            // $.post 或者 $.get 是调用ajax方法
            //("URL路径" ,{'data':JSON.stringify(msg_dic)},function(callback){})
            //
            // 这个第一个参数为指定的ULR 第二个参数为发送的内容 第3个参数为回调函数和返回的值!!

        }//发送消息结束

        //接收消息
        function GetNewMsgs(){
            $.get("{% url 'get_new_msg' %}",function(callback){
                console.log("----->new msg:",callback);
                var msg_list = JSON.parse(callback);
                var current_open_session_id = $('#chat_hander h2').attr("contact_id");//获取当前打开的ID
                var current_open_session_type = $('#chat_hander h2').attr("contact_type");//获取当前打开的类型,是单独聊天还是群组聊天
                $.each(msg_list, function (index,msg_item) {
                    if(msg_item.contact_type == 'single_contact'){
                                            //判断当前打开的类型是否相同
                    if(msg_item.contact_type == current_open_session_type){
                            //接收到的消息的to,是我自己 from是谁发过来的,如果是当前打开的ID和from相同说明,我现在正在和他聊天直接显示即可
                            if(msg_item.from == current_open_session_id){
                                AddRecvMsgToChatBox(msg_item)
                            }else{//判断当前打开的ID是否相同,如果不同把数据保存
                                var old_session_content = LoadSession(msg_item.from,msg_item.contact_type);
                                var new_msg_ele = GenerateNewMsgItem(msg_item);
                                //把新旧数据进行拼接
                                var new_session_content =  old_session_content += new_msg_ele;
                                //把数据保存到字典中
                                DumpSession2(msg_item.from,msg_item.contact_type,new_session_content);
                                //更新未读条数数字
                                UpdateUnreadMsgNums(msg_item.from,msg_item.contact_type);


                            }
                        } //判断当前打开的类型是否相同
                    }else{//单独聊天
                        if(msg_item.contact_type == current_open_session_type){
                            if(msg_item.to == current_open_session_id){//如果当前是打开的组
                                AddRecvMsgToChatBox(msg_item)
                            }else{//如果不是当前打开的窗口
                                var old_session_content = LoadSession(msg_item.to,msg_item.contact_type);
                                var new_msg_ele = GenerateNewMsgItem(msg_item);
                                //把新旧数据进行拼接
                                var new_session_content =  old_session_content += new_msg_ele;
                                //把数据保存到字典中
                                DumpSession2(msg_item.to,msg_item.contact_type,new_session_content);
                                //更新未读条数数字
                                UpdateUnreadMsgNums(msg_item.to,msg_item.contact_type);
                            }//如果不是当前打开的窗口结束
                        }
                    }//组聊天


                });//结束循环
                console.log('run.....agin.....');
                GetNewMsgs();
        })}//接收消息结束

        //存储当前聊天内容
        function DumpSession() {
            var current_contact_id = $('#chat_hander h2').attr("contact_id");//获取当前打开的ID
            var current_contact_type = $('#chat_hander h2').attr("contact_type"); //获取当前打开的类型,是单独聊天还是群组聊天
            //console.log($('.chat_contener').html());
            //这里需要判断下,因为咱们默认打开的时候current_contact_id和current_contact_type是空的所以咱们判断下就行了
            if(current_contact_id){
                GLOBAL_SESSION_CACHE[current_contact_type][current_contact_id] = $('.chat_contener').html();
            }

        }
        //存储当前聊天内容结束

        //存储未打开的聊天内容
        function DumpSession2(contact_id,contact_type,content) {
            if(contact_id){
                GLOBAL_SESSION_CACHE[contact_type][contact_id] = content;
            }

        }

        //加载新的聊天窗口,把要打开的聊天内容重新加载上
        function LoadSession(current_contact_id,current_contact_type) {
            //通过hasOwnProperty判断key是否存在
            if(GLOBAL_SESSION_CACHE[current_contact_type].hasOwnProperty(current_contact_id)){
                  var session_html = GLOBAL_SESSION_CACHE[current_contact_type][current_contact_id];
              }else{
                  var session_html = '';
              }
            //把内容返回
            return session_html
            $('.chat_contener').html(session_html);
        };
        //加载新窗口结束

        //更新未读条数函数
        function UpdateUnreadMsgNums(contact_id,contact_type) {
            $("#user_list a[contact_id='" + contact_id +"']").find('span').removeClass('hide');
            var msg_num_ele  = $("#user_list a[contact_id='" + contact_id +"']").find('span')[0];
            //转换成数字然后+1
            $(msg_num_ele).text( parseInt($(msg_num_ele).text()) + 1)
        }

    </script>
{% endblock %}