<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/cmdb.css"/>
    {% block css %}{% endblock %}

</head>
<body>

    <div class="bg-header">
        {% include 'include/header_menu.html' %}
    </div>

    <div class="bg-body">
        <div class="left-menu">
            <div class="menu-title clearfix" style="border-bottom: 1px solid #E6EEF8;">
                <div class="title">资产管理</div>
                <div id="shrink_menu" class="shrinkage fa fa-angle-double-left" onclick="ToggleMenu(this)"></div>
            </div>
            <div class="menu-body">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a style="display: block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <i class="fa fa-cubes"></i> 资产
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                          <!-- <a id="asset_summary" href="/asset/summary/">资产概要</a> -->
                          <!-- <a id="asset_summary" href="#">资产概要</a> -->
                          <a id="asset_list" href="/lists/">资产列表</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a style="display: block" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <i class="fa fa-pencil fa-fw"></i> 录入
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                          <!-- <a id="import_multi" href="#">批量录入</a> -->
                          <a id="import_single" href="/add/">单条录入</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a style="display: block" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <i class="fa fa-users fa-fw"></i>  用户
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                          <a id="left_menu_user_type" href="/userinfo/usertype/">用户类型</a>
                          <a id="left_menu_user" href="/userinfo/user/">用户</a>
                          <a id="left_menu_user_group" href="/userinfo/usergroup/">用户组</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a style="display: block" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <i class="fa fa-cog" fa-fw></i> 其他配置
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                          <a id="business" href="/business/index/">业务线</a>
                          <!-- <a href="/Asset/MultiImport/">合同</a>
                          <a href="/Asset/MultiImport/">标签</a> -->
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
        <div class="right-content">
            <div >
                <ol class="breadcrumb no-radius" style="border-bottom: 1px solid #ddd;">
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </div>
            <div style="margin:0 8px;">
                {% block content %}{% endblock %}
            </div>


        </div>

    </div>

    <div class="bg-footer"></div>

    <!-- 遮罩层开始 -->
    <div id='shade' class='shade hide'></div>
    <!-- 遮罩层结束 -->
    <!-- 加载层开始 -->
    <div id='loading' class='loading hide'></div>
    <!-- 加载层结束 -->

    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/layout.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#top_menu_asset').addClass('active');
        });
    </script>
    {% block js %}{% endblock %}

</body>
</html>