{% extends 'index.html' %}

{% block head-js %}
    <script src="{{ STATIC_URL }}plugins/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block page-container %}
    <div class="new-article">
        {% if new_article_obj %}
            <h3>文章<{{ new_article_obj.title }}>已发布,<a href="{% url 'article_detaill'  new_article_obj.id%}">点我查看</a></h3>
        {% else %}
        {#在form表单中提交数据的时候,必须使用enctype#}
        <form method="post" action="{% url 'new_article' %}" enctype="multipart/form-data">{% csrf_token %}
            <input name="title" type="text" class="form-control" placeholder="文章标题">
            <select name="category_id" class="form-control">
                {% for category in category_list %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input name="summary" type="text" class="form-control" placeholder="帖子简介">
            <input type="file" name='head_img'>必选文章标题图片
            <textarea id="ck-edit" name="content"></textarea>
            <button type="submit" class="btn btn-success pull-right">发帖</button>
        </form>
        {% endif%}
    </div>
{% endblock %}

{% block bottom-js %}
    <script>
    CKEDITOR.replace( 'ck-edit' );
    </script>
{% endblock %}