/*========================================定义顶部样式========================================*/
.top_style{
    background-color:#2459a2;
    height: 44px;
    position: relative;

}

/*设置菜单栏a标签颜色*/
.nav-pills a{
    color:Orange
}