
/*Tab开始*/
.tab-menu-box{
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.tab-menu-box .menu {
    line-height: 33px;
    height: 33px;
    background-color: #f5f5f5;
}

.tab-menu-box .content {
    min-height: 100px;
    border-top: 1px solid #ddd;
    background-color: white;
}

.tab-menu-box .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /*position: absolute;*/
}

.tab-menu-box .menu ul li {
    position: relative;
    float: left;
    font-size: 14px;
    font-family: 'Microsoft Yahei','SimHei';
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-right: 1px solid #ddd;
    padding: 0 18px;
    cursor: pointer;
    line-height:33px;
}

.tab-menu-box .menu ul li:hover {
    color: #252c34;
}

.tab-menu-box .menu .more {
    float: right;
    font-size: 12px;
    padding-right: 10px;
    font-family: "宋体";
    color: #666;
    text-decoration: none;
}

.tab-menu-box .menu a:hover {
    color: #252c34 !important;
    text-decoration: underline;
}

.tab-menu-box .menu .current {
    margin-top: -1px;
    color: #252c34;
    background: #fff;
    height: 35px;
    border-top: 2px solid #0488cd;
    z-index: 10;
}
/*Tab结束*/


/*分组当行数据开始*/
.simple-group_list{
    
}
.simple-group_list .title{
    height: 33px;
    padding-left: 10px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-bottom: 0;
    font-size: 14px;
    font-family: "Microsoft Yahei","Simsun";
    line-height: 33px;
    color: #333;
}
.simple-group_list .body{
    position: relative;
    border-color: #d8d8d8;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 4px 10px 0 10px;
    margin-bottom:20px;
}
.simple-group_list .body li{
    position: relative;
    display: block;
    border-top: 1px dotted #dcdcdc;
}
.simple-group_list .body  .first {
    border-top: 0;
}
.simple-group_list .body h4 {
    padding-top: 6px;
    height: 20px;
    font-weight: normal;
    line-height: 14px;
}
/*分组当行数据结束*/


/*分组当行数据开始*/
.simple-group_table{
    
}
.simple-group_table .title{
    height: 33px;
    padding-left: 10px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-bottom: 0;
    font-size: 14px;
    font-family: "Microsoft Yahei","Simsun";
    line-height: 33px;
    color: #333;
}
.simple-group_table .body{
    position: relative;
    border-color: #d8d8d8;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 4px 10px 0 10px;
    margin-bottom:20px;
}
.simple-group_table .body li{
    position: relative;
    display: block;
    border-top: 1px dotted #dcdcdc;
}
.simple-group_table .body  .first {
    border-top: 0;
}
.simple-group_table .body h4 {
    padding-top: 6px;
    height: 20px;
    font-weight: normal;
    line-height: 14px;
}
/*分组当行数据结束*/




.guige{

}
.guige-table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.guige-table .title{
    background: #f5fafe;
    text-align: left;
    font-weight: bold;
    line-height: 32px;
    height: 32px;
    font-family: "微软雅黑";
    border-right:1px solid #dcdcdc;
    border-left:2px solid #0488cd;
}
.guige-table td,.content .guige-table th{
    border: 1px solid #dcdcdc;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
}


.guige-table .body-left{
    width: 126px;
    font-weight: normal;
    text-align:right;
    color: #666;
}
.guige-table .body-right{
    color:#333;
}







/*两列表格开始*/
.two-col-form .row-line{
	margin:10px 0px;
	
}
.two-col-form .row-line .clo-item{
	width:50%;
	float:left;
}

.two-col-form .row-line .clo-item label{
	width:100px;
	text-align:right;
	display: inline-block;
}
.two-col-form .row-line .clo-item input{
	width:153px;
	height: 22px;
	/*border: solid 1px #E5E5E5;*/
}
.two-col-form .row-line .clo-item select{
	height: 26px;
	min-width: 153px;
	margin-right: 5px;
	/*border: solid 1px #E5E5E5;*/

}


.two-col-form-submit{
	margin:15px 30px;
	text-align:right;
}
.two-col-form-submit .submit{
	padding:3px 10px;
	background:#00a2ca;
	color:white;
	font-weight: bold;
	font-size: 14px;
	border-radius: 3px;
	font-family: 'helvetica neue',tahoma,arial,'hiragino sans gb','microsoft yahei','Simsun',sans-serif;
}

.single-col-form .row-line{
	margin:8px 0px;
}
.single-col-form .clo-item{
	margin:0 auto;
}
/*两列表格结束*/



.group-box-1 .title{
	height: 33px;
	line-height: 33px;
	border: 1px solid #DDD;
	border-left: 3px solid #00a2ca;
	background: #f5f5f5;
	padding-top: 0;
	padding-left: 0;
				
}
.group-box-1 .title .title-font{
	display: inline-block;
	font-size: 14px;
	font-family: 'Microsoft Yahei','SimHei';
	font-weight: bold;
	color: #333;
	padding-left: 10px;
}
.group-box-1 .body {
	border: 1px solid #e4e4e4;
	border-top: none;
}



/*  */
.user-section-wrap{
    background: #fff;
    height: 140px;
      box-shadow: 0 1px 2px 1px rgba(0,0,0,0.04);
}
.user-section-wrap .section-head {
    width: 60px;
    height: 100%;
    float: left;
    background: #f9fafc;
}

.user-section-wrap .section-head .section-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 58px 18px;
  color: #546478;
  font-size: 13px;
}

.user-section-wrap .section-content-wrap{
    padding-left: 60px;

}

.user-section-wrap .section-content-wrap .section-content .three-row {
    height: 47px;
    font-size: 12px;
}
.user-section-wrap .section-content-wrap .section-content .three-row .line {
    height: 47px;
    border-bottom: 1px solid #f5f5f5;
    /*border-right: 1px solid #f5f5f5;*/
    line-height: 46px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    -webkit-user-select: none;
    color: #666;
}

.user-section-wrap .section-content-wrap .section-content .three-row .line .line-num {
    font-size: 18px;
    display: inline-block;
    height: 100%;
    width: 60px;
    text-align: center;
    vertical-align: top;

}
/*  */



